@import './constants.css';



.container-custom-home{
    min-height: 100vh;
    overflow-x: hidden;

    padding-top: 100px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
