@import './constants.css';


.nameProject {
  position: relative;
  top: -10px;
  left: -100px;
  animation: updown 3s ease-in-out infinite;
}

.namePhotos {
  position: absolute;
  color: black;
  font-size: 20rem;
  text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
  margin-bottom: 0px;
  white-space: nowrap;
  margin-left: 110px;
}

.infoRow {
  margin-top: 450px;
}

@media screen and (max-width: 768px) {
  .namePhotos {
    font-size: 4rem;
    top: 50px;
    text-shadow: 1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px 0px 0 #ffffff, 0px 1px 0 #ffffff, -1px 0px 0 #ffffff, 0px -1px 0 #ffffff;
  }

  .infoRow {
    margin-top: 150px;
  }
}