@import './constants.css';



.swiper {
    width: 100%;
    height: 100%;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}




/* .sliderContainer{
    padding: 0px 70px;
} */

.firstSliderSlide {
    background: rgba(0, 0, 0, 0.885);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    display: inline-block;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}

.slideTitle{
    width: fit-content !important;
}


@media screen and (max-width: 768px) {

    .mySwiper{
        height: 300px !important;
    }

.slideTitle{
    font-size: 1rem;
}

.slideText{
    font-size: 0.8rem !important;
}

.swiper-slide{
    padding: 20px !important;
}

}